<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>URL</th>
        <th>Comments</th>
        <th>Tags</th>
        <tr>
            <td><%= bookmarkUrl[0] %></td>
            <td><%= bookmarkComment[0] %></td>
            <td><%= bookmarkTags[0] %></td>
          </tr>
    </table>
    <form>
        <input type="text">
        <input type="submit" value="Submit URL Bookmark">
    </form>
</body>
</html>